*{

padding: 0;
margin: 0;
text-decoration: none;




}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
.card-items{
  display: flex;
  padding: 1rem;
}S

